Repository mickey951112/wasmtime, changes with the labels that .github/labeler.yml gives for each.
All labels: cranelift, cranelift:docs, cranelift:meta, cranelift:module, cranelift:wasm, fuzzing, lightbeam, wasi, wasmtime:api, wasmtime:c-api, wasmtime:docs

.github/labeler.yml:

# This file configures which paths automatically get which label on new pull
# requests.
#
# It generally has the syntax:
#
#     <label 0>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#     ...
#     <label n>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#
# See https://github.com/actions/labeler for details.
#
# Note that we keep the labels in alphabetical order below.

"cranelift":
  - "cranelift/**"

"cranelift:docs":
  - "cranelift/docs/**"

"cranelift:meta":
  - "cranelift/codegen/meta/**"

"cranelift:module":
  - "cranelift/faerie/**"
  - "cranelift/module/**"
  - "cranelift/object/**"
  - "cranelift/simplejit/**"

"cranelift:wasm":
  - "cranelift/wasm/**"
  - "cranelift/wasmtests/**"

"fuzzing":
  - "crates/fuzzing/**"
  - "fuzz/**"

"lightbeam":
  - "crates/lightbeam/**"

"wasi":
  - "crates/wasi/**"
  - "crates/wasi-common/**"
  - "crates/wiggle/**"

"wasmtime:api":
  - "crates/api/**"

"wasmtime:c-api":
  - "crates/c-api/**"

"wasmtime:docs":
  - "*.md"
  - "docs/**"

Translate Wasm SIMD load_extend operations to Cranelift IR
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

Enable spec test for SIMD load_extend
  build.rs
Labels: none

Add new instructions to support SIMD load_extend
  cranelift/codegen/meta/src/shared/instructions.rs
Labels: cranelift, cranelift:meta

Add x86 implementation of SIMD load_extend instructions
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/opcodes.rs
  cranelift/filetests/filetests/isa/x86/simd-memory-binemit.clif
Labels: cranelift, cranelift:meta

wiggle: remove versions and dont publish wiggle-test (#1446)
  crates/wiggle/Cargo.toml
  crates/wiggle/test-helpers/Cargo.toml
  scripts/publish-wasmtime.sh
Labels: wasi

Remove duplication of map_reg; fixes #1245
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/x86/fde.rs
  cranelift/codegen/src/isa/x86/mod.rs
  crates/debug/src/frame.rs
  crates/debug/src/transform/expression.rs
  crates/debug/src/transform/map_reg.rs
  crates/debug/src/transform/mod.rs
  crates/environ/src/data_structures.rs
Labels: cranelift

Propertly simulate DWARF information when imports present (#1452)
  crates/debug/src/read_debuginfo.rs
  crates/debug/src/transform/address_transform.rs
  crates/debug/src/transform/expression.rs
  crates/debug/src/transform/simulate.rs
  crates/debug/src/transform/unit.rs
  tests/debug/simulate.rs
Labels: none

Sanitize file/directory symlinks in path_symlinks on Windows (#1359)
  crates/wasi-common/src/sys/windows/path.rs
Labels: wasi

cranelift-object: mark output as using non-executable stacks
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

Remove the wasmtime Python extension from this repo (#1457)
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  ci/build-tarballs.sh
  crates/misc/py/.gitignore
  crates/misc/py/Cargo.toml
  crates/misc/py/LICENSE
  crates/misc/py/README.md
  crates/misc/py/examples/gcd/.gitignore
  crates/misc/py/examples/gcd/README.md
  crates/misc/py/examples/gcd/gcd.rs
  crates/misc/py/examples/gcd/run.py
  crates/misc/py/examples/import/.gitignore
  crates/misc/py/examples/import/README.md
  crates/misc/py/examples/import/demo.rs
  crates/misc/py/examples/import/env.py
  crates/misc/py/examples/import/run.py
  crates/misc/py/examples/two_modules/.gitignore
  crates/misc/py/examples/two_modules/README.md
  crates/misc/py/examples/two_modules/env.py
  crates/misc/py/examples/two_modules/one.rs
  crates/misc/py/examples/two_modules/run.py
  crates/misc/py/examples/two_modules/two.wat
  crates/misc/py/python/wasmtime/__init__.py
  crates/misc/py/setup.py
  crates/misc/py/src/function.rs
  crates/misc/py/src/instance.rs
  crates/misc/py/src/lib.rs
  crates/misc/py/src/memory.rs
  crates/misc/py/src/module.rs
  crates/misc/py/src/value.rs
  docs/lang-python.md
Labels: wasmtime:docs

Remove unnecessary braces around assigned value in simple_preopt
  cranelift/codegen/src/simple_preopt.rs
Labels: cranelift

Adds JIT profiling support for VTune (#819)
  Cargo.lock
  Cargo.toml
  crates/api/Cargo.toml
  crates/api/src/runtime.rs
  crates/c-api/include/wasmtime.h
  crates/environ/src/cache/config.rs
  crates/jit/Cargo.toml
  crates/profiling/Cargo.toml
  crates/profiling/src/lib.rs
  crates/profiling/src/vtune_disabled.rs
  crates/profiling/src/vtune_linux.rs
  docs/SUMMARY.md
  docs/assets/vtune-gui-fib.png
  docs/examples-profiling-perf.md
  docs/examples-profiling-vtune.md
  docs/examples-profiling.md
  src/lib.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:docs

Fix the C API crate's tests
  crates/c-api/tests/wasm-c-examples.rs
Labels: wasmtime:c-api

Install rustfmt component for the CI job (#1462)
  .github/workflows/main.yml
Labels: none

Run the C API tests in CI
  .github/workflows/main.yml
Labels: none

Avoid inferring REX prefixes in i64 mode; fixes #1421
  cranelift/codegen/meta/src/isa/x86/encodings.rs
Labels: cranelift, cranelift:meta

Infer REX prefixes for SIMD load_extend
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/codegen/src/isa/x86/enc_tables.rs
  cranelift/filetests/filetests/isa/x86/simd-memory-binemit.clif
Labels: cranelift, cranelift:meta

Infer REX prefixes for SIMD load and store with displacement
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/codegen/src/isa/x86/enc_tables.rs
  cranelift/filetests/filetests/isa/x86/simd-memory-binemit.clif
Labels: cranelift, cranelift:meta

Avoid infer_rex() and w() on the same x86 encoding template, resolves #1342
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/filetests/filetests/isa/x86/legalize-br-icmp.clif
  cranelift/filetests/filetests/isa/x86/relax_branch.clif
  cranelift/filetests/filetests/postopt/complex_memory_ops.clif
  cranelift/filetests/filetests/regalloc/coloring-227.clif
Labels: cranelift, cranelift:meta

Skip extra work when inferring REX prefixes
  cranelift/codegen/src/isa/x86/binemit.rs
Labels: cranelift

Skip extra work when calculating sizes for recipes with inferred REX prefixes
  cranelift/codegen/src/isa/x86/enc_tables.rs
Labels: cranelift

Remove stray file in C API (#1464)
  crates/c-api/src/ext.rs
Labels: wasmtime:c-api

Implement path_link for Windows. (#1199)
  crates/test-programs/build.rs
  crates/test-programs/wasi-tests/src/bin/path_link.rs
  crates/wasi-common/src/sys/windows/mod.rs
  crates/wasi-common/src/sys/windows/path.rs
Labels: wasi

Add `Parser::match_imm8` for parsing signed 8-bit integers
  cranelift/reader/src/parser.rs
Labels: cranelift

Add structures to represent run commands like `run: %fn0(42, 4.2) == false`
  cranelift/reader/src/lib.rs
  cranelift/reader/src/run_command.rs
Labels: cranelift

Remove unparseable run commands in existing tests
  cranelift/filetests/filetests/isa/x86/simd-lane-access-run.clif
Labels: cranelift

Add parsing functionality for run commands
  cranelift/reader/src/parser.rs
Labels: cranelift

Fix typo in lexer.rs
  cranelift/reader/src/lexer.rs
Labels: cranelift

Expose parsing of run commands and trivially use in testing framework
  cranelift/filetests/src/test_run.rs
  cranelift/reader/src/lib.rs
  cranelift/reader/src/parser.rs
  cranelift/src/run.rs
Labels: cranelift

Increase the size of the sigaltstack. (#1315)
  crates/api/src/trap.rs
  crates/runtime/src/traphandlers.rs
Labels: wasmtime:api

GuestErrorType only needs to have a success constructor
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/macro/src/lib.rs
  crates/wiggle/src/guest_type.rs
  crates/wiggle/test-helpers/src/lib.rs
  crates/wiggle/tests/wasi.rs
Labels: wasi

wiggle: revamp error type conversions
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/generate/src/lib.rs
  crates/wiggle/generate/src/names.rs
  crates/wiggle/test-helpers/src/lib.rs
  crates/wiggle/tests/arrays.rs
  crates/wiggle/tests/atoms.rs
  crates/wiggle/tests/flags.rs
  crates/wiggle/tests/handles.rs
  crates/wiggle/tests/ints.rs
  crates/wiggle/tests/pointers.rs
  crates/wiggle/tests/strings.rs
  crates/wiggle/tests/structs.rs
  crates/wiggle/tests/union.rs
  crates/wiggle/tests/wasi.rs
Labels: wasi

wasi-common: updates to GuestErrorType/ GuestErrorConversion
  crates/wasi-common/src/wasi.rs
Labels: wasi

Re-enable ignored unreachable_wat cli test (#1472)
  tests/cli_tests.rs
Labels: none

Wiggle: tweaks to internal interfaces (#1469)
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/generate/src/lib.rs
  crates/wiggle/generate/src/names.rs
Labels: wasi

Option for host managed memory (#1400)
  crates/api/src/externals.rs
  crates/api/src/instance.rs
  crates/api/src/runtime.rs
  crates/api/src/trampoline/create_handle.rs
  crates/api/src/trampoline/memory.rs
  crates/api/src/trampoline/mod.rs
  crates/api/tests/memory_creator.rs
  crates/jit/src/instantiate.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/memory.rs
Labels: wasmtime:api

Add Wasmtime-specific C API functions to return errors (#1467)
  RELEASES.md
  crates/api/src/func.rs
  crates/api/tests/func.rs
  crates/api/tests/import_calling_export.rs
  crates/api/tests/traps.rs
  crates/c-api/include/wasmtime.h
  crates/c-api/src/config.rs
  crates/c-api/src/error.rs
  crates/c-api/src/func.rs
  crates/c-api/src/global.rs
  crates/c-api/src/instance.rs
  crates/c-api/src/lib.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/module.rs
  crates/c-api/src/trap.rs
  crates/c-api/src/wat2wasm.rs
  crates/fuzzing/src/oracles.rs
  crates/misc/dotnet/src/Host.cs
  crates/misc/dotnet/src/Instance.cs
  crates/misc/dotnet/src/Interop.cs
  crates/misc/dotnet/src/WasmtimeException.cs
  crates/wast/src/wast.rs
  examples/fib-debug/main.c
  examples/gcd.c
  examples/hello.c
  examples/linking.c
  examples/memory.c
  examples/multi.c
  examples/wasi/main.c
  tests/custom_signal_handler.rs
Labels: fuzzing, wasmtime:api, wasmtime:c-api, wasmtime:docs

bump witx dep to 0.8.5
  Cargo.lock
  crates/wasi-common/wig/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: wasi

add GuestErrorConversion to doc tests
  crates/wiggle/macro/src/lib.rs
Labels: wasi

cranelift codegen: pass source locations with external relocations;
  cranelift/codegen/meta/src/isa/riscv/recipes.rs
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/codegen/src/binemit/memorysink.rs
  cranelift/codegen/src/binemit/mod.rs
  cranelift/faerie/src/backend.rs
  cranelift/filetests/src/test_binemit.rs
  cranelift/filetests/src/test_compile.rs
  cranelift/filetests/src/test_rodata.rs
  cranelift/object/src/backend.rs
  cranelift/simplejit/src/backend.rs
  cranelift/src/disasm.rs
  crates/environ/src/cranelift.rs
  crates/jit/src/compiler.rs
  crates/jit/src/trampoline.rs
  crates/lightbeam/src/backend.rs
  crates/lightbeam/src/translate_sections.rs
Labels: cranelift, cranelift:meta, cranelift:module, lightbeam
