Repository mickey951112/wasmtime, changes with the labels that .github/labeler.yml gives for each.
All labels: cranelift, cranelift:docs, cranelift:meta, cranelift:module, cranelift:wasm, fuzzing, lightbeam, wasi, wasmtime:api, wasmtime:c-api, wasmtime:docs

Verify that constant values are the correct size
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/verifier/constant.clif
Labels: cranelift

Translate Wasm's `I8x16ShrU` to Cranelift's `ushr.i8x16`
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

Add `const_addr` instruction
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/filetests/filetests/isa/x86/simd-vconst-binemit.clif
Labels: cranelift, cranelift:meta

Zero-extend the result of `extractlane`
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

Declare constants in the function preamble
  cranelift/codegen/src/ir/constant.rs
  cranelift/codegen/src/ir/entities.rs
  cranelift/codegen/src/write.rs
  cranelift/filetests/filetests/isa/x86/simd-arithmetic-legalize.clif
  cranelift/filetests/filetests/isa/x86/simd-comparison-legalize.clif
  cranelift/filetests/filetests/isa/x86/simd-lane-access-legalize.clif
  cranelift/filetests/filetests/isa/x86/simd-logical-legalize.clif
  cranelift/filetests/filetests/isa/x86/simd-vconst-binemit.clif
  cranelift/filetests/filetests/isa/x86/simd-vconst-compile.clif
  cranelift/filetests/filetests/isa/x86/simd-vconst-rodata.clif
  cranelift/frontend/src/frontend.rs
  cranelift/reader/src/lexer.rs
  cranelift/reader/src/parser.rs
  cranelift/reader/src/sourcemap.rs
Labels: cranelift

Add x86 implentation of 8x16 `ushr`
  cranelift/codegen/meta/src/isa/x86/legalize.rs
  cranelift/codegen/src/isa/x86/enc_tables.rs
  cranelift/filetests/filetests/isa/x86/simd-bitwise-legalize.clif
  cranelift/filetests/filetests/isa/x86/simd-bitwise-run.clif
Labels: cranelift, cranelift:meta

Add unimplemented! arm for ConstAddr in Aarch64 (#1548)
  cranelift/codegen/src/isa/aarch64/lower.rs
Labels: cranelift

Temporarily fix wasmtime on aarch64 by not constructing per-inst address map. (#1541)
  crates/environ/src/cranelift.rs
Labels: none

Turn down debuginfo level on CI (#1545)
  .github/actions/install-rust/main.js
Labels: none

Move most wasmtime tests into one test suite (#1544)
  .github/actions/install-rust/main.js
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  build.rs
  cranelift/codegen/src/lib.rs
  crates/api/Cargo.toml
  crates/fuzzing/src/lib.rs
  tests/all/cli_tests.rs
  tests/all/custom_signal_handler.rs
  tests/all/debug/dump.rs
  tests/all/debug/lldb.rs
  tests/all/debug/mod.rs
  tests/all/debug/obj.rs
  tests/all/debug/simulate.rs
  tests/all/debug/testsuite/fib-wasm.c
  tests/all/debug/testsuite/fib-wasm.wasm
  tests/all/debug/testsuite/reverse-str.c
  tests/all/debug/testsuite/reverse-str.wasm
  tests/all/debug/translate.rs
  tests/all/externals.rs
  tests/all/func.rs
  tests/all/fuzzing.rs
  tests/all/fuzzing/README.md
  tests/all/fuzzing/empty.wat
  tests/all/fuzzing/empty_with_memory.wat
  tests/all/fuzzing/issue694.wat
  tests/all/globals.rs
  tests/all/import_calling_export.rs
  tests/all/import_indexes.rs
  tests/all/instance.rs
  tests/all/invoke_func_via_table.rs
  tests/all/linker.rs
  tests/all/main.rs
  tests/all/memory_creator.rs
  tests/all/name.rs
  tests/all/traps.rs
  tests/all/wast.rs
  tests/host_segfault.rs
Labels: cranelift, fuzzing, wasmtime:api

arm64: Support less-than-64-bit integers in Bitrev, Clz, Cls, and Popcnt instructions.
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/filetests/filetests/vcode/aarch64/bitops.clif
Labels: cranelift

Expand comment about set_skipdata
  cranelift/src/disasm.rs
Labels: cranelift

Add tests for stack_{addr,load,store}
  cranelift/filetests/filetests/vcode/aarch64/stack.clif
Labels: cranelift

Fix printing of LoadAddr
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/vcode/aarch64/stack.clif
  cranelift/src/disasm.rs
Labels: cranelift

Implement stack_addr for AArch64
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/lower.rs
Labels: cranelift

Reuse rd as tmp reg in LoadAddr
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
Labels: cranelift

Update some deps to cut down on rebuilds (#1551)
  Cargo.lock
Labels: none

Remove wasi-common's dependency on `num` (#1557)
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/old/snapshot_0/memory.rs
Labels: wasi

Change from review comments: fix comment.
  cranelift/codegen/src/isa/aarch64/lower.rs
Labels: cranelift

Baldrdash: callee-saved are only JIT callee-saved, not "JIT or natives".
  cranelift/codegen/src/isa/aarch64/abi.rs
Labels: cranelift

Remove an unnecessary mutable qualifier when passing a function to compile;
  cranelift/codegen/src/context.rs
Labels: cranelift

Baldrdash: use the right frame offset when loading arguments from the stack
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift

Baldrdash: implement support for sign-extension in returns;
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/lower.rs
Labels: cranelift

Implement pinned register usage through set_pinned_reg/get_pinned_reg;
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/mod.rs
Labels: cranelift

arm64: Add support for CCmp
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
Labels: cranelift

arm64: Support bool constants
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/filetests/filetests/vcode/aarch64/constants.clif
Labels: cranelift

Add a documentation link to the official application-abi.md document. (#1562)
  docs/WASI-documents.md
Labels: wasmtime:docs

.github/labeler.yml:

# This file configures which paths automatically get which label on new pull
# requests.
#
# It generally has the syntax:
#
#     <label 0>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#     ...
#     <label n>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#
# See https://github.com/actions/labeler for details.
#
# Note that we keep the labels in alphabetical order below.

"cranelift":
  - "cranelift/**"

"cranelift:docs":
  - "cranelift/docs/**"

"cranelift:meta":
  - "cranelift/codegen/meta/**"

"cranelift:module":
  - "cranelift/faerie/**"
  - "cranelift/module/**"
  - "cranelift/object/**"
  - "cranelift/simplejit/**"

"cranelift:wasm":
  - "cranelift/wasm/**"
  - "cranelift/wasmtests/**"

"fuzzing":
  - "crates/fuzzing/**"
  - "fuzz/**"

"lightbeam":
  - "crates/lightbeam/**"

"wasi":
  - "crates/wasi/**"
  - "crates/wasi-common/**"
  - "crates/wiggle/**"

"wasmtime:api":
  - "crates/api/**"

"wasmtime:c-api":
  - "crates/c-api/**"

"wasmtime:docs":
  - "*.md"
  - "docs/**"
