Repository mickey951112/wasmtime, changes with the labels that .github/labeler.yml gives for each.
All labels: cranelift, cranelift:docs, cranelift:meta, cranelift:module, cranelift:wasm, fuzzing, lightbeam, wasi, wasmtime:api, wasmtime:c-api, wasmtime:docs

.github/labeler.yml:

# This file configures which paths automatically get which label on new pull
# requests.
#
# It generally has the syntax:
#
#     <label 0>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#     ...
#     <label n>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#
# See https://github.com/actions/labeler for details.
#
# Note that we keep the labels in alphabetical order below.

"cranelift":
  - "cranelift/**"

"cranelift:docs":
  - "cranelift/docs/**"

"cranelift:meta":
  - "cranelift/codegen/meta/**"

"cranelift:module":
  - "cranelift/faerie/**"
  - "cranelift/module/**"
  - "cranelift/object/**"
  - "cranelift/simplejit/**"

"cranelift:wasm":
  - "cranelift/wasm/**"
  - "cranelift/wasmtests/**"

"fuzzing":
  - "crates/fuzzing/**"
  - "fuzz/**"

"lightbeam":
  - "crates/lightbeam/**"

"wasi":
  - "crates/wasi/**"
  - "crates/wasi-common/**"
  - "crates/wiggle/**"

"wasmtime:api":
  - "crates/api/**"

"wasmtime:c-api":
  - "crates/c-api/**"

"wasmtime:docs":
  - "*.md"
  - "docs/**"

Remove no-longer-needed wasm-webidl-bindings dep (#1316)
  Cargo.lock
  Cargo.toml
Labels: none

Store module name on `wasmtime_environ::Module` (#1309)
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/sections_translator.rs
  crates/api/src/frame_info.rs
  crates/api/src/module.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/jit/src/instantiate.rs
Labels: cranelift, cranelift:wasm, wasmtime:api

Fix typo in comment (#1324)
  cranelift/reader/src/lexer.rs
Labels: cranelift

Remove superfluous are (#1326)
  docs/WASI-background.md
Labels: wasmtime:docs

fuzzing: Enable Cranelift's IR verifier for differential fuzzing
  crates/fuzzing/src/generators.rs
Labels: fuzzing

Add myself to the Cranelift watch list
  .github/subscribe-to-label.json
Labels: none

[cranelift] Fix block and value names in IR documentation
  cranelift/docs/ir.md
Labels: cranelift, cranelift:docs

Remove cdylib/staticlib wasi-common crate types (#1321)
  crates/wasi-common/Cargo.toml
Labels: wasi

Disable incremental compilation on CI (#1341)
  .github/actions/install-rust/main.js
Labels: none

wasmtime-cli, obj, debug: upgrade to faerie 0.15
  Cargo.lock
  Cargo.toml
  crates/debug/Cargo.toml
  crates/debug/src/write_debuginfo.rs
  crates/obj/Cargo.toml
Labels: none

cranelift-module: make backend error an anyhow::Error
  cranelift/module/Cargo.toml
  cranelift/module/src/module.rs
Labels: cranelift, cranelift:module

cranelift-faerie: upgrade to faerie 0.15.0, fix error reporting
  Cargo.lock
  cranelift/faerie/Cargo.toml
  cranelift/faerie/src/backend.rs
Labels: cranelift, cranelift:module

Add support for hidden visibility
  cranelift/faerie/src/backend.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

rustfmt
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

Turn off binaryen in fuzzing by default
  .github/workflows/main.yml
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/oracles.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

take ttf in differential
  crates/fuzzing/src/oracles.rs
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

Make Cranelift version-bumping script have similar name to Wasmtime's
  scripts/bump-cranelift-version.sh
Labels: none

Add x86 implementation of fcvt_from_sint
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/opcodes.rs
  cranelift/filetests/filetests/isa/x86/simd-conversion-binemit.clif
  cranelift/filetests/filetests/isa/x86/simd-conversion-run.clif
Labels: cranelift, cranelift:meta

Translate Wasm's f32x4.convert_i32x4s to Cranelift's fcvt_from_sint
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

Fix types of i8x16 and i16x8 replace_lane
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

Fix local.set and local.tee types for SIMD
  cranelift/wasm/src/code_translator.rs
  cranelift/wasmtests/simd.wat
Labels: cranelift, cranelift:wasm

Fix types of SIMD or, xor, and
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

Fix CI fuzz runners
  .github/workflows/main.yml
Labels: none

Fix unused imports in oracles
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

bump cranelift version to 0.60.0 (#1328)
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/faerie/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/simplejit/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/environ/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, lightbeam

Remove FPR32; fixes #1303
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/codegen/meta/src/isa/x86/registers.rs
  cranelift/codegen/src/isa/x86/registers.rs
  cranelift/filetests/filetests/isa/x86/simd-avx512-arithmetic-binemit.clif
  crates/jit/src/compiler.rs
  tests/misc_testsuite/export-large-signature.wast
Labels: cranelift, cranelift:meta

Update contributing docs with new script name
  docs/contributing-release-process.md
Labels: wasmtime:docs

Re-add the script to publish Cranelift, which was lost in the migration
  scripts/publish-cranelift.sh
  scripts/publish-wasmtime.sh
Labels: none

Build wasmtime-c-api differenty in run-examples (#1346)
  crates/misc/run-examples/src/main.rs
Labels: none

Update the `filecheck` dependency (#1348)
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/filetests/Cargo.toml
Labels: cranelift

Handle select relocations while generating trampolines (#1347)
  Cargo.lock
  crates/api/src/trampoline/func.rs
  crates/jit/Cargo.toml
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/link.rs
  tests/misc_testsuite/func-400-params.wast
Labels: wasmtime:api

[wasi-common] add custom FdPool container for managing fd allocs/deallocs (#1329)
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/fdpool.rs
  crates/wasi-common/src/hostcalls_impl/fs.rs
  crates/wasi-common/src/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/hostcalls_impl/misc.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/old/snapshot_0/ctx.rs
  crates/wasi-common/src/old/snapshot_0/entry.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/entry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/entry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/mod.rs
  crates/wasi-common/src/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/entry_impl.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/src/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/windows/entry_impl.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/misc.rs
  crates/wasi-common/src/sys/windows/mod.rs
  crates/wasi-common/src/wasi.rs
Labels: wasi

Add SIMD copy_to_ssa
  cranelift/codegen/meta/src/isa/x86/encodings.rs
Labels: cranelift, cranelift:meta

Add SIMD load_complex
  cranelift/codegen/meta/src/isa/x86/encodings.rs
Labels: cranelift, cranelift:meta

Add SIMD store_complex
  cranelift/codegen/meta/src/isa/x86/encodings.rs
Labels: cranelift, cranelift:meta

Add initial SIMD memory filetests
  cranelift/filetests/filetests/isa/x86/simd-memory-binemit.clif
Labels: cranelift

Update wasi submodule (#1345)
  Cargo.lock
  crates/wasi-common/wig/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/crates/generate/Cargo.toml
Labels: wasi

Infer REX prefix for SIMD operations; fixes #1127
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/codegen/src/isa/x86/binemit.rs
  cranelift/filetests/filetests/isa/x86/simd-arithmetic-binemit.clif
  cranelift/filetests/filetests/isa/x86/simd-comparison-binemit.clif
  cranelift/filetests/filetests/isa/x86/simd-lane-access-binemit.clif
  cranelift/filetests/filetests/isa/x86/simd-memory-binemit.clif
Labels: cranelift, cranelift:meta

Organize SIMD arithmetic filetest; add REX-inducing register assignments
  cranelift/filetests/filetests/isa/x86/simd-arithmetic-binemit.clif
  cranelift/filetests/filetests/isa/x86/simd-arithmetic-run.clif
  cranelift/filetests/filetests/isa/x86/simd-comparison-binemit.clif
Labels: cranelift

Update `arbitrary` and `libfuzzer` dependencies
  Cargo.lock
  crates/fuzzing/Cargo.toml
  fuzz/Cargo.toml
Labels: fuzzing
