Repository mickey951112/wasmtime, changes with the labels that .github/labeler.yml gives for each.
All labels: cranelift, cranelift:docs, cranelift:meta, cranelift:module, cranelift:wasm, fuzzing, lightbeam, wasi, wasmtime:api, wasmtime:c-api, wasmtime:docs

.github/labeler.yml:

# This file configures which paths automatically get which label on new pull
# requests.
#
# It generally has the syntax:
#
#     <label 0>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#     ...
#     <label n>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#
# See https://github.com/actions/labeler for details.
#
# Note that we keep the labels in alphabetical order below.

"cranelift":
  - "cranelift/**"

"cranelift:docs":
  - "cranelift/docs/**"

"cranelift:meta":
  - "cranelift/codegen/meta/**"

"cranelift:module":
  - "cranelift/faerie/**"
  - "cranelift/module/**"
  - "cranelift/object/**"
  - "cranelift/simplejit/**"

"cranelift:wasm":
  - "cranelift/wasm/**"
  - "cranelift/wasmtests/**"

"fuzzing":
  - "crates/fuzzing/**"
  - "fuzz/**"

"lightbeam":
  - "crates/lightbeam/**"

"wasi":
  - "crates/wasi/**"
  - "crates/wasi-common/**"
  - "crates/wiggle/**"

"wasmtime:api":
  - "crates/api/**"

"wasmtime:c-api":
  - "crates/c-api/**"

"wasmtime:docs":
  - "*.md"
  - "docs/**"

Adjust release notes for `Caller` type (#1393)
  RELEASES.md
Labels: wasmtime:docs

Disable lowering thread priority on Fuchsia (#1394)
  crates/environ/src/cache/worker.rs
Labels: none

Use `Linker` in `*.wast` testing (#1391)
  crates/api/src/externals.rs
  crates/api/src/lib.rs
  crates/api/src/linker.rs
  crates/api/tests/linker.rs
  crates/wast/src/lib.rs
  crates/wast/src/spectest.rs
  crates/wast/src/wast.rs
Labels: wasmtime:api

Correctly capitalize "WebAssembly" in docs. (#1399)
  docs/lang-python.md
Labels: wasmtime:docs

Subscribe kubkon to wasi label
  .github/subscribe-to-label.json
Labels: none

[wasi-common] Clean up the use of mutable Entry (#1395)
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/unix/bsd/fd.rs
  crates/wasi-common/src/sys/unix/bsd/oshandle.rs
  crates/wasi-common/src/sys/unix/fd.rs
  crates/wasi-common/src/sys/unix/linux/fd.rs
  crates/wasi-common/src/sys/unix/linux/oshandle.rs
  crates/wasi-common/src/sys/windows/entry.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

Increase generated DWARF version to 4
  crates/debug/src/transform/mod.rs
Labels: none

wiggle: emit a metadata module containing witx document (#1387)
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/snapshots/mod.rs
  crates/wiggle/Cargo.toml
  crates/wiggle/crates/generate/src/config.rs
  crates/wiggle/crates/generate/src/lib.rs
  crates/wiggle/crates/runtime/Cargo.toml
  crates/wiggle/crates/runtime/src/lib.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/tests/wasi.rs
Labels: wasi

Ignore DWARF expressions with wasm globals (#1405)
  crates/debug/src/transform/expression.rs
Labels: none

Expand the C API slightly (#1404)
  crates/c-api/src/lib.rs
Labels: wasmtime:c-api

Try to only publish crates/releases on wasmtime tags (#1406)
  .github/workflows/main.yml
Labels: none

Support WASI snapshot0 in the C API.
  crates/c-api/include/wasi.h
  crates/c-api/src/ext.rs
  crates/c-api/src/wasi.rs
  crates/misc/dotnet/src/Interop.cs
  crates/misc/dotnet/src/Wasi.cs
  crates/misc/dotnet/src/WasiBuilder.cs
  crates/misc/dotnet/tests/Modules/WasiSnapshot0.wat
  crates/misc/dotnet/tests/WasiSnapshot0Tests.cs
  crates/wasi-common/src/old/snapshot_0/ctx.rs
  crates/wasi-common/wig/src/wasi.rs
  src/commands/run.rs
Labels: wasi, wasmtime:c-api

Reimplement the C# API.
  crates/c-api/include/wasmtime.h
  crates/c-api/src/ext.rs
  crates/misc/dotnet/docs/articles/intro.md
  crates/misc/dotnet/examples/global/Program.cs
  crates/misc/dotnet/examples/hello/Program.cs
  crates/misc/dotnet/examples/memory/Program.cs
  crates/misc/dotnet/src/Bindings/Binding.cs
  crates/misc/dotnet/src/Bindings/FunctionBinding.cs
  crates/misc/dotnet/src/Bindings/GlobalBinding.cs
  crates/misc/dotnet/src/Bindings/MemoryBinding.cs
  crates/misc/dotnet/src/Bindings/WasiBinding.cs
  crates/misc/dotnet/src/Caller.cs
  crates/misc/dotnet/src/Engine.cs
  crates/misc/dotnet/src/Externs/ExternMemory.cs
  crates/misc/dotnet/src/Function.cs
  crates/misc/dotnet/src/Global.cs
  crates/misc/dotnet/src/Host.cs
  crates/misc/dotnet/src/HostBuilder.cs
  crates/misc/dotnet/src/IHost.cs
  crates/misc/dotnet/src/ImportAttribute.cs
  crates/misc/dotnet/src/Instance.cs
  crates/misc/dotnet/src/Interop.cs
  crates/misc/dotnet/src/Memory.cs
  crates/misc/dotnet/src/MemoryBase.cs
  crates/misc/dotnet/src/Module.cs
  crates/misc/dotnet/src/MutableGlobal.cs
  crates/misc/dotnet/src/Store.cs
  crates/misc/dotnet/src/Wasi.cs
  crates/misc/dotnet/src/WasiConfiguration.cs
  crates/misc/dotnet/tests/Fixtures/ModuleFixture.cs
  crates/misc/dotnet/tests/FunctionThunkingTests.cs
  crates/misc/dotnet/tests/GlobalExportsTests.cs
  crates/misc/dotnet/tests/GlobalImportBindingTests.cs
  crates/misc/dotnet/tests/MemoryExportsTests.cs
  crates/misc/dotnet/tests/MemoryImportBindingTests.cs
  crates/misc/dotnet/tests/Modules/FunctionThunking.wat
  crates/misc/dotnet/tests/WasiSnapshot0Tests.cs
  crates/misc/dotnet/tests/WasiTests.cs
Labels: wasmtime:c-api

Fix calls to wasmtime_wat2wasm to remove engine argument.
  examples/gcd.c
  examples/hello.c
  examples/linking.c
  examples/memory.c
  examples/multi.c
Labels: none

Fix calls to `wasi_instance_new` to pass in the WASI module name.
  examples/linking.c
  examples/wasi/main.c
Labels: none

Fix wasmtime_linker_new call to pass in allow_shadowing argument.
  examples/linking.c
Labels: none

Fix typo in method call.
  crates/misc/dotnet/src/Function.cs
Labels: none

Fix typo in exception message.
  crates/misc/dotnet/src/Memory.cs
Labels: none

Fix debug asserts for dwarf transform (#1413)
  crates/debug/src/transform/address_transform.rs
Labels: none

Add Wasmtime C API function to control linker shadowing.
  crates/c-api/include/wasmtime.h
  crates/c-api/src/ext.rs
  crates/misc/dotnet/src/Host.cs
  crates/misc/dotnet/src/Interop.cs
  examples/linking.c
Labels: wasmtime:c-api

Add wasmtime_func_new_with_env.
  crates/c-api/include/wasmtime.h
  crates/c-api/src/ext.rs
  crates/c-api/src/lib.rs
Labels: wasmtime:c-api

Fixes for cargo publish (#1416)
  .github/workflows/main.yml
  .gitmodules
  Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/README.md
  crates/wasi-common/src/wasi.rs
  docs/contributing-testing.md
  scripts/publish-cranelift.sh
  scripts/publish-wasmtime.sh
Labels: wasi, wasmtime:docs

Test 0.14 (#1417)
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/misc/py/Cargo.toml
  crates/misc/run-examples/Cargo.toml
  crates/misc/rust/Cargo.toml
  crates/misc/rust/macro/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/test-programs/wasi-tests/Cargo.lock
  crates/test-programs/wasi-tests/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/wig/Cargo.toml
  crates/wasi-common/winx/Cargo.toml
  crates/wasi-common/yanix/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/test-helpers/Cargo.toml
  scripts/bump-cranelift-version.sh
  scripts/bump-wasmtime-version.sh
  scripts/publish-wasmtime.sh
Labels: fuzzing, lightbeam, wasi, wasmtime:api, wasmtime:c-api, wasmtime:docs

Refactor use of Refs and RefMuts in wasi-common (#1412)
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/path.rs
  crates/wasi-common/src/poll.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/unix/bsd/fd.rs
  crates/wasi-common/src/sys/unix/bsd/mod.rs
  crates/wasi-common/src/sys/unix/bsd/oshandle.rs
  crates/wasi-common/src/sys/unix/emscripten/mod.rs
  crates/wasi-common/src/sys/unix/entry.rs
  crates/wasi-common/src/sys/unix/fd.rs
  crates/wasi-common/src/sys/unix/linux/fd.rs
  crates/wasi-common/src/sys/unix/linux/mod.rs
  crates/wasi-common/src/sys/unix/linux/oshandle.rs
  crates/wasi-common/src/sys/unix/path.rs
  crates/wasi-common/src/sys/unix/poll.rs
  crates/wasi-common/src/sys/windows/entry.rs
  crates/wasi-common/src/sys/windows/path.rs
  crates/wasi-common/src/sys/windows/poll.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

More fixes for 0.14. (#1418)
  crates/wiggle/macro/Cargo.toml
  scripts/publish-wasmtime.sh
Labels: wasi

Refactor and fill out wasmtime's C API (#1415)
  Cargo.lock
  crates/api/src/lib.rs
  crates/api/src/ref.rs
  crates/api/src/types.rs
  crates/c-api/Cargo.toml
  crates/c-api/include/wasmtime.h
  crates/c-api/macros/Cargo.toml
  crates/c-api/macros/src/lib.rs
  crates/c-api/src/config.rs
  crates/c-api/src/engine.rs
  crates/c-api/src/ext.rs
  crates/c-api/src/extern.rs
  crates/c-api/src/func.rs
  crates/c-api/src/global.rs
  crates/c-api/src/instance.rs
  crates/c-api/src/lib.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/memory.rs
  crates/c-api/src/module.rs
  crates/c-api/src/ref.rs
  crates/c-api/src/store.rs
  crates/c-api/src/table.rs
  crates/c-api/src/trap.rs
  crates/c-api/src/types.rs
  crates/c-api/src/types/export.rs
  crates/c-api/src/types/extern.rs
  crates/c-api/src/types/func.rs
  crates/c-api/src/types/global.rs
  crates/c-api/src/types/import.rs
  crates/c-api/src/types/memory.rs
  crates/c-api/src/types/table.rs
  crates/c-api/src/types/val.rs
  crates/c-api/src/val.rs
  crates/c-api/src/vec.rs
  crates/c-api/src/wasi.rs
  crates/c-api/src/wat2wasm.rs
Labels: wasmtime:api, wasmtime:c-api

Make WASI and `wat` support optional in the C API (#1419)
  .github/workflows/main.yml
  crates/c-api/Cargo.toml
  crates/c-api/src/lib.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/wat2wasm.rs
Labels: wasmtime:c-api

Include the Windows DLL import library in binaries
  .github/workflows/main.yml
Labels: none

Fix the order of the rex2 registers for r_ib_unsigned_gpr (#1424)
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/filetests/filetests/isa/x86/simd-pextr-binemit.clif
Labels: cranelift, cranelift:meta

Enable Wasm spec tests for SIMD load_splat (#1426)
  build.rs
Labels: none

Fix typo in Memory.Maximum doc string. (#1432)
  crates/misc/dotnet/src/Memory.cs
Labels: none

Add tests showing no interference between jump tables and constants
  cranelift/filetests/filetests/isa/x86/simd-vconst-rodata.clif
  cranelift/filetests/filetests/isa/x86/simd-vconst-run.clif
Labels: cranelift

Make rodata test framework more robust
  cranelift/filetests/src/test_rodata.rs
Labels: cranelift

Generate trace logs in wiggle albeit behind a feature gate
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wiggle/generate/src/funcs.rs
Labels: wasi

Move back to only one WASI submodule (#1434)
  .gitmodules
  crates/wasi-common/Cargo.toml
  crates/wasi-common/build.rs
  crates/wasi-common/src/old/snapshot_0/host.rs
  crates/wasi-common/src/old/snapshot_0/mod.rs
  crates/wasi-common/src/old/snapshot_0/wasi.rs
  crates/wasi-common/src/old/snapshot_0/wasi32.rs
  crates/wasi-common/wig/Cargo.toml
  crates/wasi-common/wig/src/hostcalls.rs
  crates/wasi-common/wig/src/raw_types.rs
  crates/wasi-common/wig/src/utils.rs
  crates/wasi-common/wig/src/wasi.rs
  crates/wasi/build.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/old/snapshot_0.rs
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  scripts/bump-cranelift-version.sh
  scripts/bump-wasmtime-version.sh
Labels: wasi

[cranelift-frontend] Fix emit_zero for vectors (#1428)
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/ssa.rs
Labels: cranelift

Symbolize start trap traces (#1437)
  crates/api/src/instance.rs
  crates/api/tests/traps.rs
Labels: wasmtime:api

Implement more of the `wasm_frame_t` type (#1438)
  crates/c-api/include/wasmtime.h
  crates/c-api/src/trap.rs
Labels: wasmtime:c-api

fuzzing: Enable NaN canonicalization (#1334)
  crates/api/src/runtime.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/oracles.rs
Labels: fuzzing, wasmtime:api

correct typo in the docs profiling section (#1442)
  docs/examples-profiling.md
Labels: wasmtime:docs
