Repository mickey951112/wasmtime, changes with the labels that .github/labeler.yml gives for each.
All labels: cranelift, cranelift:docs, cranelift:meta, cranelift:module, cranelift:wasm, fuzzing, lightbeam, wasi, wasmtime:api, wasmtime:c-api, wasmtime:docs

.github/labeler.yml:

# This file configures which paths automatically get which label on new pull
# requests.
#
# It generally has the syntax:
#
#     <label 0>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#     ...
#     <label n>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#
# See https://github.com/actions/labeler for details.
#
# Note that we keep the labels in alphabetical order below.

"cranelift":
  - "cranelift/**"

"cranelift:docs":
  - "cranelift/docs/**"

"cranelift:meta":
  - "cranelift/codegen/meta/**"

"cranelift:module":
  - "cranelift/faerie/**"
  - "cranelift/module/**"
  - "cranelift/object/**"
  - "cranelift/simplejit/**"

"cranelift:wasm":
  - "cranelift/wasm/**"
  - "cranelift/wasmtests/**"

"fuzzing":
  - "crates/fuzzing/**"
  - "fuzz/**"

"lightbeam":
  - "crates/lightbeam/**"

"wasi":
  - "crates/wasi/**"
  - "crates/wasi-common/**"
  - "crates/wiggle/**"

"wasmtime:api":
  - "crates/api/**"

"wasmtime:c-api":
  - "crates/c-api/**"

"wasmtime:docs":
  - "*.md"
  - "docs/**"

cranelift codegen: add a supplementary method add_call_site to CodeSink;
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/codegen/src/binemit/memorysink.rs
  cranelift/codegen/src/binemit/mod.rs
Labels: cranelift, cranelift:meta

Make too many imports an instantiation error (#1478)
  crates/api/src/instance.rs
  crates/api/tests/instance.rs
Labels: wasmtime:api

Add APIs to lookup values in `Linker` (#1480)
  crates/api/src/linker.rs
  crates/wast/src/wast.rs
Labels: wasmtime:api

Add Go as an embedding to the book (#1481)
  README.md
  docs/SUMMARY.md
  docs/embed-c.md
  docs/embed-rust.md
  docs/embed.md
  docs/examples-c-wasi.md
  docs/lang-c.md
  docs/lang-go.md
  docs/lang-rust.md
  docs/lang.md
Labels: wasmtime:docs

Pin nightly rust toolchain to 2020-04-07
  .github/workflows/main.yml
Labels: none

wasmtime: Pass around more contexts instead of fields (#1486)
  cranelift/codegen/src/isa/mod.rs
  crates/api/src/module.rs
  crates/api/src/runtime.rs
  crates/environ/src/compilation.rs
  crates/environ/src/cranelift.rs
  crates/environ/src/lightbeam.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/tunables.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/target_tunables.rs
  src/commands/wasm2obj.rs
  src/obj.rs
Labels: cranelift, wasmtime:api

Add TargetIsa::map_dwarf_register; fixes #1471
  cranelift/codegen/src/isa/fde.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/x86/fde.rs
  cranelift/codegen/src/isa/x86/mod.rs
  crates/debug/src/frame.rs
  crates/debug/src/transform/expression.rs
  crates/environ/src/data_structures.rs
Labels: cranelift

Make Handle a trait required for any WASI-compatible handle (#1443)
  Cargo.lock
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/handle.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/path.rs
  crates/wasi-common/src/poll.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/clock.rs
  crates/wasi-common/src/sys/fd.rs
  crates/wasi-common/src/sys/mod.rs
  crates/wasi-common/src/sys/oshandle.rs
  crates/wasi-common/src/sys/unix/bsd/mod.rs
  crates/wasi-common/src/sys/unix/bsd/osfile.rs
  crates/wasi-common/src/sys/unix/bsd/oshandle.rs
  crates/wasi-common/src/sys/unix/bsd/path.rs
  crates/wasi-common/src/sys/unix/emscripten/mod.rs
  crates/wasi-common/src/sys/unix/entry.rs
  crates/wasi-common/src/sys/unix/fd.rs
  crates/wasi-common/src/sys/unix/linux/mod.rs
  crates/wasi-common/src/sys/unix/linux/osfile.rs
  crates/wasi-common/src/sys/unix/linux/oshandle.rs
  crates/wasi-common/src/sys/unix/linux/path.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/unix/oshandle.rs
  crates/wasi-common/src/sys/unix/path.rs
  crates/wasi-common/src/sys/unix/poll.rs
  crates/wasi-common/src/sys/windows/entry.rs
  crates/wasi-common/src/sys/windows/fd.rs
  crates/wasi-common/src/sys/windows/mod.rs
  crates/wasi-common/src/sys/windows/oshandle.rs
  crates/wasi-common/src/sys/windows/path.rs
  crates/wasi-common/src/sys/windows/poll.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

wasmtime-c-api: Don't create slices with null pointers (#1492)
  crates/c-api/src/vec.rs
Labels: wasmtime:c-api

Utility methods for artificial debug types in the generated DWARF (#1482)
  crates/api/src/runtime.rs
  crates/debug/src/transform/unit.rs
  crates/debug/src/transform/utils.rs
  crates/runtime/src/debug_builtins.rs
  crates/runtime/src/lib.rs
  tests/debug/lldb.rs
  tests/debug/testsuite/reverse-str.c
  tests/debug/testsuite/reverse-str.wasm
Labels: wasmtime:api

Bump `links` for wasi-common automatically (#1493)
  scripts/bump-wasmtime-version.sh
Labels: none

Update release notes with current master branch status (#1483)
  RELEASES.md
Labels: wasmtime:docs

Optimize codegen in `Func::wrap` (#1491)
  crates/api/src/func.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/vmcontext.rs
Labels: wasmtime:api

Windows FPRs preservation (#1216)
  build.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/isa/x86/fde.rs
  cranelift/codegen/src/isa/x86/mod.rs
  cranelift/codegen/src/isa/x86/unwind.rs
  cranelift/filetests/filetests/isa/x86/windows_fastcall_x64.clif
  cranelift/filetests/filetests/isa/x86/windows_fastcall_x64_unwind.clif
  cranelift/filetests/src/test_fde.rs
  cranelift/filetests/src/test_unwind.rs
  crates/api/src/trampoline/func.rs
  crates/environ/src/compilation.rs
  crates/environ/src/cranelift.rs
  crates/jit/src/compiler.rs
Labels: cranelift, wasmtime:api

Update some dependencies (#1496)
  Cargo.lock
  crates/wast/Cargo.toml
  crates/wast/src/wast.rs
Labels: none

ARM64 backend, part 1 / 11: misc changes to existing code.
  cranelift/codegen/meta/src/isa/arm64/mod.rs
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/dce.rs
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/legalizer/mod.rs
Labels: cranelift, cranelift:meta

ARM64 backend, part 2 / 11: remove old ARM64 backend.
  cranelift/codegen/src/isa/arm64/abi.rs
  cranelift/codegen/src/isa/arm64/binemit.rs
  cranelift/codegen/src/isa/arm64/enc_tables.rs
  cranelift/codegen/src/isa/arm64/mod.rs
  cranelift/codegen/src/isa/arm64/registers.rs
  cranelift/codegen/src/isa/arm64/settings.rs
  cranelift/codegen/src/isa/mod.rs
Labels: cranelift

ARM64 backend, part 3 / 11: MachInst infrastructure.
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/adapter.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/pp.rs
  cranelift/codegen/src/machinst/sections.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/num_uses.rs
Labels: cranelift

ARM64 backend, part 4 / 11: ARM64 instruction definitions.
  cranelift/codegen/src/isa/arm64/inst/args.rs
  cranelift/codegen/src/isa/arm64/inst/emit.rs
  cranelift/codegen/src/isa/arm64/inst/imms.rs
  cranelift/codegen/src/isa/arm64/inst/mod.rs
  cranelift/codegen/src/isa/arm64/inst/regs.rs
  cranelift/codegen/src/isa/arm64/mod.rs
Labels: cranelift

ARM64 backend, part 5 / 11: ABI implementation.
  cranelift/codegen/src/isa/arm64/abi.rs
  cranelift/codegen/src/isa/arm64/mod.rs
Labels: cranelift

ARM64 backend, part 6 / 11: CLIF -> VCode<Inst> lowering.
  cranelift/codegen/src/isa/arm64/lower.rs
  cranelift/codegen/src/isa/arm64/mod.rs
Labels: cranelift

ARM64 backend, part 7 / 11: Arm64Backend toplevel.
  cranelift/codegen/src/isa/arm64/mod.rs
Labels: cranelift

ARM64 backend, part 8 / 11: integration.
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/test_utils.rs
  cranelift/codegen/src/postopt.rs
  cranelift/codegen/src/verifier/flags.rs
  cranelift/src/compile.rs
Labels: cranelift

ARM64 backend, part 9 / 11: wasmtime support.
  crates/jit/src/link.rs
  crates/runtime/src/helpers.c
  crates/runtime/src/traphandlers.rs
  tests/custom_signal_handler.rs
Labels: none

ARM64 backend, part 10 / 11: filetest support for VCode tests.
  Cargo.lock
  cranelift/filetests/Cargo.toml
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/test_vcode.rs
Labels: cranelift

ARM64 backend, part 11 / 11: filetests for ARM64 VCode.
  cranelift/filetests/filetests/vcode/arm64/arithmetic.clif
  cranelift/filetests/filetests/vcode/arm64/basic1.clif
  cranelift/filetests/filetests/vcode/arm64/bitops.clif
  cranelift/filetests/filetests/vcode/arm64/call-indirect.clif
  cranelift/filetests/filetests/vcode/arm64/call.clif
  cranelift/filetests/filetests/vcode/arm64/condbr.clif
  cranelift/filetests/filetests/vcode/arm64/condops.clif
  cranelift/filetests/filetests/vcode/arm64/constants.clif
  cranelift/filetests/filetests/vcode/arm64/extend-op.clif
  cranelift/filetests/filetests/vcode/arm64/jumptable.clif
  cranelift/filetests/filetests/vcode/arm64/narrow-arithmetic.clif
  cranelift/filetests/filetests/vcode/arm64/saturating-ops.clif
  cranelift/filetests/filetests/vcode/arm64/shift-op.clif
  cranelift/filetests/filetests/vcode/arm64/shift-rotate.clif
  cranelift/filetests/filetests/vcode/arm64/symbol-value.clif
  cranelift/filetests/filetests/vcode/arm64/traps.clif
  cranelift/filetests/filetests/vcode/arm64/uextend-sextend.clif
Labels: cranelift

Use F64X2 as type when saving and restoring XMM registers
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/filetests/filetests/isa/x86/windows_fastcall_x64.clif
  cranelift/filetests/filetests/isa/x86/windows_fastcall_x64_unwind.clif
Labels: cranelift

wasi-common: export WasiCtxBuilderError
  crates/wasi-common/src/lib.rs
Labels: wasi

Switch CI back to nightly channel (#1503)
  .github/workflows/main.yml
  Cargo.lock
Labels: none

Check .debug_str data that is not from DWARF (#1507)
  crates/debug/src/transform/simulate.rs
  tests/debug/simulate.rs
Labels: none

Expose precise offset information in `wasmtime::FrameInfo` (#1495)
  crates/api/src/externals.rs
  crates/api/src/frame_info.rs
  crates/api/src/module.rs
  crates/api/src/trampoline/create_handle.rs
  crates/api/src/trap.rs
  crates/api/tests/traps.rs
  crates/c-api/src/trap.rs
  crates/environ/src/compilation.rs
  crates/environ/src/cranelift.rs
  crates/environ/src/func_environ.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/table.rs
  crates/runtime/src/trap_registry.rs
  crates/runtime/src/traphandlers.rs
Labels: wasmtime:api, wasmtime:c-api

Add a spec test fuzzer for Config (#1509)
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/build.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/oracles.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/spectests.rs
Labels: fuzzing

Update the `wat`/`wast` crates (#1511)
  Cargo.lock
  crates/wast/Cargo.toml
Labels: none

Trim some unused deps from wasmtime-environ (#1515)
  Cargo.lock
  crates/environ/Cargo.toml
Labels: none

Move UnwindInfo definition out of x86 ABI.
  cranelift/codegen/src/isa/unwind.rs
  cranelift/codegen/src/isa/unwind/winx64.rs
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/isa/x86/unwind.rs
  cranelift/codegen/src/isa/x86/unwind/winx64.rs
Labels: cranelift

Return error for register mapping failure.
  cranelift/codegen/src/isa/unwind/systemv.rs
  cranelift/codegen/src/isa/x86/unwind/systemv.rs
  cranelift/codegen/src/result.rs
Labels: cranelift

Fix build errors in Windows unwind information.
  crates/jit/src/unwind/winx64.rs
Labels: none

Keep frame info registered until internal instance is gone (#1514)
  crates/api/src/instance.rs
  crates/api/src/module.rs
  crates/api/tests/traps.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
Labels: wasmtime:api

Prevent repeated registration of frames on Linux.
  crates/jit/src/unwind/systemv.rs
Labels: none

Add vcode test for floating-point, and fix two FP bugs.
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/filetests/filetests/vcode/aarch64/floating-point.clif
Labels: cranelift
