Repository mickey951112/wasmtime, changes with the labels that .github/labeler.yml gives for each.
All labels: cranelift, cranelift:docs, cranelift:meta, cranelift:module, cranelift:wasm, fuzzing, lightbeam, wasi, wasmtime:api, wasmtime:c-api, wasmtime:docs

.github/labeler.yml:

# This file configures which paths automatically get which label on new pull
# requests.
#
# It generally has the syntax:
#
#     <label 0>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#     ...
#     <label n>:
#       - <glob-path 0>
#       - ...
#       - <glob-path n>
#
# See https://github.com/actions/labeler for details.
#
# Note that we keep the labels in alphabetical order below.

"cranelift":
  - "cranelift/**"

"cranelift:docs":
  - "cranelift/docs/**"

"cranelift:meta":
  - "cranelift/codegen/meta/**"

"cranelift:module":
  - "cranelift/faerie/**"
  - "cranelift/module/**"
  - "cranelift/object/**"
  - "cranelift/simplejit/**"

"cranelift:wasm":
  - "cranelift/wasm/**"
  - "cranelift/wasmtests/**"

"fuzzing":
  - "crates/fuzzing/**"
  - "fuzz/**"

"lightbeam":
  - "crates/lightbeam/**"

"wasi":
  - "crates/wasi/**"
  - "crates/wasi-common/**"
  - "crates/wiggle/**"

"wasmtime:api":
  - "crates/api/**"

"wasmtime:c-api":
  - "crates/c-api/**"

"wasmtime:docs":
  - "*.md"
  - "docs/**"

Update a number of wasmtime's dependencies (#1355)
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/api/Cargo.toml
  crates/environ/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wast/Cargo.toml
Labels: cranelift, cranelift:wasm, wasmtime:api

Expand `Memory` docs and add examples (#1357)
  crates/api/src/externals.rs
Labels: wasmtime:api

Add some high-level sandboxing documentation. (#1353)
  docs/security-sandboxing.md
Labels: wasmtime:docs

Fix unnecessary structure name repetitions, as reported by clippy
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

[cranelift docs] Fix grammar code blocks and heap image (#1339)
  cranelift/docs/heap.dot
  cranelift/docs/heap.svg
  cranelift/docs/ir.md
Labels: cranelift, cranelift:docs

Add a first-class way of accessing caller's exports (#1290)
  crates/api/src/func.rs
  crates/api/src/lib.rs
  crates/api/tests/externals.rs
  crates/api/tests/func.rs
  crates/api/tests/traps.rs
  crates/wasi-common/wig/src/wasi.rs
  crates/wasi/src/lib.rs
  crates/wast/src/spectest.rs
  docs/embed-rust.md
  examples/hello.rs
Labels: wasi, wasmtime:api, wasmtime:docs

Add a few CLI tests for WASI. (#1281)
  tests/cli_tests.rs
  tests/instantiate.rs
  tests/wasm/hello_wasi_snapshot0.wat
  tests/wasm/hello_wasi_snapshot1.wat
  tests/wasm/rs2wasm-add-func.wat
Labels: none

Update some documentation on `Memory` (#1360)
  crates/api/src/externals.rs
Labels: wasmtime:api

Refactor the internals of `Func` to remove layers of indirection (#1363)
  crates/api/src/callable.rs
  crates/api/src/func.rs
  crates/api/src/lib.rs
  crates/api/src/trampoline/func.rs
  crates/api/src/trampoline/mod.rs
  crates/api/src/values.rs
  crates/api/tests/func.rs
  crates/api/tests/import-indexes.rs
  crates/api/tests/import_calling_export.rs
  crates/api/tests/traps.rs
  crates/c-api/src/lib.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/misc/py/src/function.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/traphandlers.rs
  examples/multi.rs
Labels: fuzzing, wasmtime:api, wasmtime:c-api

Tweak the submodule update command (#1364)
  docs/contributing-building.md
Labels: wasmtime:docs

Allow for zero-length wiggle_runtime::Regions (#1366)
  crates/wiggle/crates/runtime/src/region.rs
Labels: wasi

Add a safe method `GuestPtr::copy_from_slice` (#1367)
  crates/wiggle/crates/runtime/src/error.rs
  crates/wiggle/crates/runtime/src/lib.rs
Labels: wasi

Enable jitdump profiling support by default (#1310)
  Cargo.lock
  Cargo.toml
  crates/api/Cargo.toml
  crates/api/src/lib.rs
  crates/api/src/module.rs
  crates/api/src/runtime.rs
  crates/c-api/Cargo.toml
  crates/c-api/include/wasmtime.h
  crates/c-api/src/ext.rs
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/profiling/Cargo.toml
  crates/profiling/src/jitdump_disabled.rs
  crates/profiling/src/jitdump_linux.rs
  crates/profiling/src/lib.rs
  crates/runtime/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wast/Cargo.toml
  docs/SUMMARY.md
  docs/assets/perf-annotate-fib.png
  docs/assets/perf-report-fib.png
  docs/examples-profiling.md
  src/lib.rs
  tests/instantiate.rs
  tests/misc_testsuite/rs2wasm-add-func.wast
Labels: wasi, wasmtime:api, wasmtime:c-api, wasmtime:docs

Fix build of the book (#1368)
  docs/examples-profiling.md
Labels: wasmtime:docs

Simplify ssa builder (#1340)
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/ssa.rs
Labels: cranelift

Path symlink follow (#1284)
  crates/test-programs/wasi-tests/src/bin/path_link.rs
  crates/wasi-common/src/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
Labels: wasi

Remove C++ dependency from `wasmtime` (#1365)
  crates/runtime/Cargo.toml
  crates/runtime/build.rs
  crates/runtime/signalhandlers/SignalHandlers.cpp
  crates/runtime/signalhandlers/SignalHandlers.hpp
  crates/runtime/src/helpers.c
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/signalhandlers.rs
  crates/runtime/src/traphandlers.rs
Labels: none

wiggle-generate: teach about anonymous array types
  crates/wiggle/crates/generate/src/names.rs
Labels: wasi

wiggle-generate: BuiltinType::USize is a u32, not a usize
  crates/wiggle/crates/generate/src/names.rs
Labels: wasi

wiggle-generate: always pass GuestPtr by reference
  crates/wiggle/crates/generate/src/funcs.rs
  crates/wiggle/crates/generate/src/module_trait.rs
  crates/wiggle/tests/flags.rs
  crates/wiggle/tests/pointers.rs
  crates/wiggle/tests/structs.rs
  crates/wiggle/tests/wasi.rs
Labels: wasi

wiggle-runtime: isize and usize do not have same repr in guest and host
  crates/wiggle/crates/runtime/src/guest_type.rs
Labels: wasi

wasi-common: update trait methods to take &GuestPtr args.
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
Labels: wasi

Add examples of linking and WASI (#1369)
  Cargo.lock
  Cargo.toml
  crates/misc/run-examples/src/main.rs
  docs/SUMMARY.md
  docs/embed-rust.md
  docs/examples-c-debugging.md
  docs/examples-c-embed.md
  docs/examples-c-gcd.md
  docs/examples-c-hello-world.md
  docs/examples-c-linking.md
  docs/examples-c-memory.md
  docs/examples-c-multi-value.md
  docs/examples-c-wasi.md
  docs/examples-rust-debugging.md
  docs/examples-rust-embed.md
  docs/examples-rust-gcd.md
  docs/examples-rust-hello-world.md
  docs/examples-rust-linking.md
  docs/examples-rust-memory.md
  docs/examples-rust-multi-value.md
  docs/examples-rust-wasi.md
  examples/linking.c
  examples/linking.rs
  examples/linking1.wat
  examples/linking2.wat
  examples/wasi/main.c
  examples/wasi/main.rs
  examples/wasi/wasm/Cargo.toml
  examples/wasi/wasm/wasi.rs
Labels: wasmtime:docs

[wasi-common] Fix a warning about unreachable code. (#1374)
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
Labels: wasi

Remove the old wast and wasm2obj commands. (#1372)
  .github/workflows/main.yml
  ci/build-tarballs.sh
  ci/wasmtime.wxs
  src/bin/wasm2obj.rs
  src/bin/wast.rs
Labels: none

Add an `is_directory()` helper method. (#1373)
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

Add a .gitattributes file to specify eol=LF (#1370)
  .gitattributes
  crates/misc/dotnet/docs/.gitignore
  crates/misc/dotnet/docs/api/.gitignore
  crates/misc/dotnet/docs/api/index.md
  crates/misc/dotnet/docs/articles/intro.md
  crates/misc/dotnet/docs/articles/toc.yml
  crates/misc/dotnet/docs/index.md
  crates/misc/dotnet/docs/templates/darkfx/partials/head.tmpl.partial
  crates/misc/dotnet/docs/templates/darkfx/styles/main.css
  crates/misc/dotnet/docs/toc.yml
  crates/misc/dotnet/examples/global/Program.cs
  crates/misc/dotnet/examples/global/global.csproj
  crates/misc/dotnet/examples/hello/Program.cs
  crates/misc/dotnet/examples/hello/hello.csproj
  crates/misc/dotnet/examples/memory/Program.cs
  crates/misc/dotnet/examples/memory/memory.csproj
  crates/misc/dotnet/src/Engine.cs
  crates/misc/dotnet/src/Wasmtime.csproj
  crates/misc/dotnet/tests/FunctionExportsTests.cs
  crates/misc/dotnet/tests/FunctionThunkingTests.cs
  crates/misc/dotnet/tests/Wasmtime.Tests.csproj
Labels: none

Fixes #1240: Add a new accessor to indicate that an opcode requires spilling all registers;
  cranelift/codegen/meta/src/cdsl/instructions.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/isa/x86/instructions.rs
  cranelift/codegen/src/regalloc/spilling.rs
Labels: cranelift, cranelift:meta

Add non-standard builds of Cranelift in automation;
  .github/workflows/main.yml
Labels: none

Update object to 0.18 (#1381)
  Cargo.lock
  cranelift/object/Cargo.toml
  cranelift/object/src/backend.rs
  crates/profiling/Cargo.toml
  crates/profiling/src/jitdump_linux.rs
Labels: cranelift, cranelift:module

Add docs badges (#1379)
  README.md
  cranelift/README.md
Labels: cranelift, wasmtime:docs

Miscellaneous doc updates (#1383)
  README.md
  cranelift/README.md
  crates/jit/README.md
  crates/runtime/README.md
  docs/embed-rust.md
  docs/embed.md
  docs/tutorial.md
Labels: cranelift, wasmtime:docs

[wiggle] Don't make generated structs and unions `Copy`.
  crates/wasi-common/src/clock.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/wasi.rs
  crates/wiggle/crates/generate/src/types/struct.rs
  crates/wiggle/crates/generate/src/types/union.rs
Labels: wasi

Refactor address_transform.rs to use less memory (#1260)
  crates/debug/src/transform/address_transform.rs
  crates/debug/src/transform/line_program.rs
  crates/debug/src/transform/range_info_builder.rs
  crates/debug/src/transform/simulate.rs
Labels: none

Add a `wasmtime::Linker` type (#1384)
  Cargo.lock
  crates/api/src/lib.rs
  crates/api/src/linker.rs
  crates/api/src/types.rs
  crates/api/tests/linker.rs
  crates/c-api/Cargo.toml
  crates/c-api/include/wasmtime.h
  crates/c-api/src/ext.rs
  crates/c-api/src/lib.rs
  crates/c-api/src/wasi.rs
  crates/wasi-common/wig/src/wasi.rs
  examples/linking.c
  examples/linking.rs
Labels: wasi, wasmtime:api, wasmtime:c-api

bump winapi version to 0.3.8 (#1388)
  crates/jit/Cargo.toml
Labels: none

Initial documentation for python users (#1378)
  crates/misc/py/examples/import/demo.rs
  crates/misc/py/examples/import/env.py
  docs/lang-python.md
Labels: wasmtime:docs

change Module::define_function to take TrapSink instances
  cranelift/faerie/src/backend.rs
  cranelift/faerie/src/lib.rs
  cranelift/faerie/src/traps.rs
  cranelift/module/src/backend.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
  cranelift/object/src/lib.rs
  cranelift/object/src/traps.rs
  cranelift/simplejit/examples/simplejit-minimal.rs
  cranelift/simplejit/src/backend.rs
  cranelift/simplejit/tests/basic.rs
Labels: cranelift, cranelift:module

Add initial 0.13.0 (unreleased) release notes (#1392)
  RELEASES.md
Labels: wasmtime:docs

CI: add cargo audit job (#1314)
  .github/workflows/main.yml
Labels: none
